<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Контакты</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/themify/themify-icons.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/lightbox2/css/lightbox.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/dacha.css">
	<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- Header -->
 	<div th:insert="index.html :: header"></div>

	<!-- Sidebar -->
	<div th:insert="index.html :: sidebar"></div>

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/bg-title-page-02.jpg);">
	<h2 class="tit6 t-center">
		Контакты
	</h2>
</section>



<!-- Contact form -->
<section class="section-contact bg1-pattern p-t-90 p-b-113">
	<!-- Map -->
	<div class="container">
		<div class="map bo8 bo-rad-10 of-hidden">
			<iframe class="desktop" src="https://yandex.ru/map-widget/v1/?um=constructor%3Aac37c0e2277e663cef5469981a04be238ddf6197e206947656c906c26cb395e8&amp;source=constructor" width="1176" height="550" frameborder="0"></iframe>
			<iframe class="mobile" src="https://yandex.ru/map-widget/v1/?um=constructor%3Aac37c0e2277e663cef5469981a04be238ddf6197e206947656c906c26cb395e8&amp;source=constructor" width="1176" height="550" frameborder="0"></iframe>
		</div>

	</div>

	<div class="container">
		<h3 class="tit7 t-center p-b-62 p-t-105">
			Отправь нам сообщение
		</h3>
		<script>
			function validate() {
				alert("Сообщение отправлено");
				let form = document.getElementsByClassName('wrap-form-reservation')[0];
			}
		</script>
		<!-- th:action not working -->
		<form class="wrap-form-reservation size22 m-l-r-auto" action="/send" th:object="${usermessage}" method="post" onsubmit="return validate()">
			<div class="row">
				<div class="col-md-4">
					<!-- Name -->
					<span class="txt9">
							Имя
						</span>

					<div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
						<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Name" th:field="*{name}">
					</div>
				</div>

				<div class="col-md-4">
					<!-- Email -->
					<span class="txt9">
							Email
						</span>

					<div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
						<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email" placeholder="Email" th:field="*{email}">
					</div>
				</div>

				<div class="col-md-4">
					<!-- Phone -->
					<span class="txt9">
							Телефон
						</span>

					<div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
						<input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="phone" placeholder="Phone" th:field="*{phone}">
					</div>
				</div>

				<div class="col-12">
					<!-- Message -->
					<span class="txt9">
							Сообщение
						</span>
					<textarea class="bo-rad-10 size35 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-3" name="message" placeholder="Message" th:field="*{message}"></textarea>
				</div>
			</div>

			<div class="wrap-btn-booking flex-c-m m-t-13">
				<!-- Button3 -->
				<button type="submit" class="btn3 flex-c-m size36 txt11 trans-0-4">
					Отправить
				</button>
			</div>
		</form>

		<div class="row p-t-135">
			<div class="col-sm-8 col-md-4 col-lg-4 m-l-r-auto p-t-30">
				<div class="dis-flex m-l-23">
					<div class="p-r-40 p-t-6">
						<img src="/images/icons/map-icon.png" alt="IMG-ICON">
					</div>

					<div class="flex-col-l">
							<span class="txt5 p-b-10">
								Адрес
							</span>

						<span class="txt23 size38">
								г.Дзержинск, проспект Циолковского, 65a
							</span>
					</div>
				</div>
			</div>

			<div class="col-sm-8 col-md-3 col-lg-4 m-l-r-auto p-t-30">
				<div class="dis-flex m-l-23">
					<div class="p-r-40 p-t-6">
						<img src="/images/icons/phone-icon.png" alt="IMG-ICON">
					</div>


					<div class="flex-col-l">
							<span class="txt5 p-b-10">
								Позвоните нам
							</span>

						<span class="txt23 size38">
								8 (8313) 370-100
							</span>
					</div>
				</div>
			</div>

			<div class="col-sm-8 col-md-5 col-lg-4 m-l-r-auto p-t-30">
				<div class="dis-flex m-l-23">
					<div class="p-r-40 p-t-6">
						<img src="/images/icons/clock-icon.png" alt="IMG-ICON">
					</div>

					<div class="flex-col-l">
							<span class="txt5 p-b-10">
								Часы работы
							</span>

						<span class="txt23 size38">
								12:00 – 24:00 <br/> Ежедневно
							</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Footer -->
<div th:insert="index.html :: footer"></div>


<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>



<!--===============================================================================================-->
<script type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/vendor/bootstrap/js/popper.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/vendor/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/vendor/parallax100/parallax100.js"></script>
<script type="text/javascript">
	$('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script type="text/javascript" src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
<script src="/js/map-custom.js"></script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>

</body>
</html>
