<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>Управление заказами</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/dacha.css">
    <script type="text/javascript" src="/js/zinggrid.min.js" defer></script>
</head>
<body>
<script>
    window.onload = function() {
        let token = $("meta[name='_csrf']").attr("content");
        let header = $("meta[name='_csrf_header']").attr("content");
        let headers = '"headers" : {"' + header +'" : "' + token + '"}'
        document.getElementById('idDelete').setAttribute('value', '{"method": "DELETE", "src": "/api/order/", ' + headers  + '}');
        document.getElementById('idCreate').setAttribute('value', '{"method": "POST", "src": "/api/order/", ' + headers  + '}');
        document.getElementById('idUpdateCell').setAttribute('value', '{"method": "PATCH", "src": "/api/order/", ' + headers  + '}');
        document.getElementById('idRead').setAttribute('value', '{"method": "GET", "src": "/api/order/all/", ' + headers  + '}');
        document.getElementById('idUpdateRow').setAttribute('value', '{"method": "PATCH", "src": "/api/order/", ' + headers  + '}');
    }

    function _renderInnerGrid(orderItems, cellRef, $cell) {
        var data_arr = [];
        for (let i = 0; i < orderItems.length; i++) {
            data_arr.push({ "name": orderItems[i].name,
                "price": orderItems[i].price,
                "quantity": orderItems[i].quantity});
        }
        cellRef.querySelector('zing-grid').setData(data_arr);
    }
</script>
<div th:insert="manage.html :: header"> </div>
<div class="container-fluid bg2-pattern w-full-md">
    <zing-grid
            caption="Заказы"
            search
            columns-control
            editor-controls
            pager
            page-size="10"
            page-size-options="2,5,10">
        <zg-column index="name" header="Имя"></zg-column>
        <zg-column index="email" header="Email"></zg-column>
        <zg-column index="phone" header="Телефон"></zg-column>
        <zg-column index="address" header="Адрес"></zg-column>
        <zg-column index="timeToDeliver" header="Время доставки"></zg-column>
        <zg-column index="comment" header="Комментарий"></zg-column>
        <zg-column index="price" header="Сумма заказа"></zg-column>
        <zg-column index="orderItems" header="Заказ" width="30%" renderer="_renderInnerGrid">
            <template>
                <zing-grid caption="Что входит в заказ">
                <zg-colgroup>
                    <zg-column index="name" header="Название" ></zg-column>
                    <zg-column index="price" header="Цена" ></zg-column>
                    <zg-column index="quantity" header="Количество"></zg-column>
                </zg-colgroup>
                </zing-grid>
            </template>
        </zg-column>
        <zg-data>
            <zg-param name="deleteOptions" id="idDelete"> </zg-param>
            <zg-param name="readOptions" id="idRead"></zg-param>
            <zg-param name="createOptions" id="idCreate"> </zg-param>
            <zg-param name="updateCellOptions" id="idUpdateCell"></zg-param>
            <zg-param name="updateRowOptions" id="idUpdateRow"></zg-param>
        </zg-data>
    </zing-grid>
</div>

</body>
<script type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js"></script>
</html>


