<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Меню</title>
	<meta charset="UTF-8">
	<meta name="Description" content="Меню ресторана Дача в городе Дзержинске. Посмотреть меню, узнать цены"/>
	<meta name="Keywords" content="Меню Цены Ресторан Дача в городе Дзержинске Официальный сайт"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
			m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(73333237, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/73333237" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>
<body class="animsition">

	<!-- Header -->
	<div th:insert="index.html :: header"></div>

	<!-- Sidebar -->
	<div th:insert="index.html :: sidebar"></div>

	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/bg-title-page-01.jpg);">
		<h2 class="tit6 t-center">
			Дачное Меню
		</h2>
	</section>
	<!-- Download Menu -->
	<section class="section-mainmenu p-t-25 p-b-25 bg4-pattern">
		<div class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">
			<div class="pos-relative m-5">
<!--				<form action="/pdf/menu.pdf">-->
<!--					<input type="hidden" name="name" value="menu">-->
				<a target="_blank" rel="noopener noreferrer" href="/pdf/menu.pdf">
				<button type="submit" class="btn4 flex-c-m size17 txt20 trans-0-4">
					Скачать меню
				</button>
				</a>
<!--				</form>-->
			</div>
			<div class="pos-relative m-5">
<!--				<form action="/pdf/wine.pdf">-->
<!--					<input type="hidden" name="name" value="wine">-->
				<a target="_blank" rel="noopener noreferrer" href="/pdf/wine.pdf">
				<button type="submit" class="btn4 flex-c-m size17 txt20 trans-0-4">
						Скачать винную карту
					</button>
				</a>
<!--				</form>-->
			</div>
			</div>
		</div>
	</section>

	<!-- Main menu -->
	<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
					<div class="wrap-item-mainmenu p-b-22">
						<h3 class="tit-mainmenu tit10 p-b-25" id="starters">
							ЗАКУСКИ
						</h3>

						<!-- Item mainmenu -->
						<div class="item-mainmenu m-b-36" th:each="starter: ${starters}">
							<div class="flex-w flex-b m-b-3">
								<a href="#" class="name-item-mainmenu txt21sm" th:text="${starter.name}">
									Pine nut sbrisalona
								</a>
								<div class="line-item-mainmenu bg3-pattern"></div>

								<div class="price-item-mainmenu txt22sm" th:text="${starter.price}">
									$29.79
								</div>
							</div>

							<span class="info-item-mainmenu txt23" th:text="${starter.description}">
								К пивку самое оно
							</span>
						</div>
					</div>

					<div class="wrap-item-mainmenu p-b-22">
						<h3 class="tit-mainmenu tit10 p-b-25">
							Гриль
						</h3>

						<!-- Item mainmenu -->
						<div class="item-mainmenu m-b-36" th:each="gril : ${grill}">
							<div class="flex-w flex-b m-b-3">
								<a href="#" class="name-item-mainmenu txt21sm" th:text="${gril.name}">
									Vivamus pretium
								</a>

								<div class="line-item-mainmenu bg3-pattern"></div>

								<div class="price-item-mainmenu txt22sm" th:text="${gril.price}">
									$29.79
								</div>
							</div>

							<span class="info-item-mainmenu txt23" th:text="${gril.description}">
								Я уже говорил про пиво?
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-10 col-lg-6 p-l-35 p-l-15-lg m-l-r-auto">
					<div class="wrap-item-mainmenu p-b-22">
						<h3 class="tit-mainmenu tit10 p-b-25" id="meat">
							Мясо и птица
						</h3>

						<!-- Item mainmenu -->
						<div class="item-mainmenu m-b-36" th:each="mt : ${meat}">
							<div class="flex-w flex-b m-b-3">
								<a href="#" class="name-item-mainmenu txt21sm" th:text="${mt.name}">
									Duis sed aliquet
								</a>

								<div class="line-item-mainmenu bg3-pattern"></div>

								<div class="price-item-mainmenu txt22sm" th:text="${mt.price}">
									$31.18
								</div>
							</div>

							<span class="info-item-mainmenu txt23" th:text="${mt.description}">
								Пальчики оближешь
							</span>
						</div>
					</div>

					<div class="wrap-item-mainmenu p-b-22">
						<h3 class="tit-mainmenu tit10 p-b-25">
							Рыба и морепродукты
						</h3>

						<!-- Item mainmenu -->
						<div class="item-mainmenu m-b-36" th:each="fh : ${fish}">
							<div class="flex-w flex-b m-b-3">
								<a href="#" class="name-item-mainmenu txt21sm" th:text="${fh.name}">
									Duis sed aliquet
								</a>

								<div class="line-item-mainmenu bg3-pattern"></div>

								<div class="price-item-mainmenu txt22sm" th:text="${fh.price}">
									$31.18
								</div>
							</div>

							<span class="info-item-mainmenu txt23" th:text="${fh.description}">
								Вкуснятина
							</span>
						</div>
					</div>

					<div class="wrap-item-mainmenu p-b-22">
						<h3 class="tit-mainmenu tit10 p-b-25">
							Десерты
						</h3>

						<!-- Item mainmenu -->
						<div class="item-mainmenu m-b-36" id="desserts" th:each="dessert: ${desserts}" >
							<div class="flex-w flex-b m-b-3">
								<a href="#" class="name-item-mainmenu txt21sm" th:text="${dessert.name}">
									tempus aliquet
								</a>

								<div class="line-item-mainmenu bg3-pattern"></div>

								<div class="price-item-mainmenu txt22sm" th:text="${dessert.price}">
									$9.79
								</div>
							</div>

							<span class="info-item-mainmenu txt23" th:text="${dessert.description}">
								Ням-ням
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Lunch -->
	<section class="section-lunch bgwhite">
		<div class="header-lunch parallax0 parallax100" style="background-image: url(/images/header-menu-01.jpg);">
			<div class="bg1-overlay t-center p-t-170 p-b-165">
				<h2 class="tit4 t-center" id="business">
					Бизнес-ланч
				</h2>
			</div>
		</div>

		<div class="container">
			<h4 class="tit3 t-center m-t-25" id="business_price">
				Цена: 370.00
			</h4>
			<div class="row p-t-108 p-b-70">
				<div class="col-md-4 col-lg-4 m-l-r-auto">
					<!-- Block3 -->
					<div class="blo3 flex-w flex-col-l-sm m-b-30" th:each="bsalad : ${salads_business}">
						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
							<a href="#"><img src="/images/lunch-01.jpg" alt="IMG-MENU"></a>
						</div>

						<div class="text-blo3 size21 flex-col-l-m">
							<a href="#" class="txt21sm m-b-3" th:text="${bsalad.name}">
								Sed varius
							</a>

							<span class="txt23">
								Aenean pharetra tortor dui in pellentesque
							</span>

							<span class="txt22 m-t-20" >
							</span>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-lg-4 m-l-r-auto">
					<!-- Block3 -->
					<div class="blo3 flex-w flex-col-l-sm m-b-30" th:each="bhot: ${hot_business}">
						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
							<a href="#"><img src="/images/lunch-02.jpg" alt="IMG-MENU"></a>
						</div>

						<div class="text-blo3 size21 flex-col-l-m">
							<a href="#" class="txt21sm m-b-3" th:text="${bhot.name}">
								sbrisalona
							</a>

							<span class="txt23">
								Proin lacinia nisl ut ultricies posuere nulla
							</span>

							<span class="txt22 m-t-20">
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 m-l-r-auto">
					<!-- Block3 -->
					<div class="blo3 flex-w flex-col-l-sm m-b-30" th:each="bsoup: ${soup_business}">
						<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
							<a href="#"><img src="/images/business-soup.jpg" alt="IMG-MENU"></a>
						</div>

						<div class="text-blo3 size21 flex-col-l-m">
							<a href="#" class="txt21sm m-b-3" th:text="${bsoup.name}">
								sbrisalona
							</a>

							<span class="txt23">
								Proin lacinia nisl ut ultricies posuere nulla
							</span>

							<span class="txt22 m-t-20">
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Sign up -->
	<div th:insert="index.html :: subcribe"></div>



	<!-- Footer -->
	<div th:insert="index.html :: footer"></div>


	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>


<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/bootstrap/js/popper.js"></script>
	<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
	<script type="text/javascript" src="/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/parallax100/parallax100.js"></script>
	<script type="text/javascript">
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="/vendor/lightbox2/js/lightbox.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>
</html>
