<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успешный заказ</title>
    <style>
        div {
            position: absolute;
            width: 130%;
            top: 25%;
            text-align: center;
            color: black;
        }
    </style>
</head>
<body style="background: url(/gallery-images/waiter.jpeg) no-repeat center center fixed;
        background-size: cover;">
<div>
    <h1> Спасибо за заказ!</h1>
    <h2> Ваш заказ #37456 поступил в обработку.</h2>
    <h2>Скоро с вами свяжется наш менеджер.</h2>
    <a href="/" style="color: red"><h4> Вернуться на главную </h4></a>
</div>

</body>
</html>